.l-header {
  padding-block: 1.25rem;
  position: absolute;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.25s ease;
}
.l-header.l-header--fixed {
  position: fixed;
  background-color: var(--color-light-100);
  border-bottom: var(--border-line);
  z-index: 99;
}
.l-header .l-header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: var(--container);
}
.l-header .l-header__navbar .l-header__navbar__brand {
  flex: 1;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-primary-600);
}
.l-header .l-header__navbar .l-header__navbar__toggle {
  border: 0.0625rem solid var(--color-primary-300);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: transparent;
}
.l-header .l-header__navbar .l-header__navbar__toggle i {
  color: var(--color-primary-300);
  font-size: 1.25rem;
}
.l-header .l-header__navbar .l-header__navbar__list {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.l-header .l-header__navbar .l-header__navbar__list li a {
  padding: 0.625rem 1.25rem;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--color-gray-500);
}
.l-header .l-header__navbar .l-header__navbar__list li a.active,
.l-header .l-header__navbar .l-header__navbar__list li a:hover {
  color: var(--color-primary-300);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (width > 62rem) {
  .l-header__navbar__toggle {
    display: none;
  }
}
@media (width <= 62rem) {
  .l-header .l-header__navbar .l-header__navbar__list {
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 52.5rem;
    gap: 0.625rem;
  }
  .l-header .l-header__navbar .l-header__navbar__list:not(.show) {
    display: none;
  }
  .l-header .l-header__navbar .l-header__navbar__list button {
    margin-left: 1.25rem;
  }
}
@media (width <= 65.375rem) {
  .l-header .l-header__navbar .l-header__navbar__list li a {
    padding: 0.5rem 1rem;
  }
}
