.l-ceo {
  padding-bottom: 0px;
}

.l-ceo__comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-ceo__comment h3 {
  color: var(--color-gray-200);
  font-size: 1.75rem;
  font-family: var(--font-family-open-sans);
  font-weight: 300;
  line-height: 2.25rem;
  padding-bottom: 1rem;
  text-align: center;
}

.l-ceo__comment h4 {
  font-size: 1.25rem;
}

.l-ceo__comment p {
  color: var(--color-primary-400);
}
