.l-chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.l-chart i {
  font-size: 2.5rem;
  font-weight: 900;
  background-color: #fcfcfc;
  color: var(--color-primary-400);
  padding: 1.25rem;
  justify-content: center;
  border-radius: 50%;
  border: 0.0625rem solid #efefef;
  margin: 0.625rem 1.5625rem 1.5625rem 0rem;
}

.l-chart img {
  width: 540px;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-large);
  margin-left: 1rem;
}

.l-chart__description p {
  font-size: 1.125rem;
  color: var(--color-gray-200);
  margin-bottom: 1rem;
  line-height: 1.75rem;
}

.l-chart__info {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  width: 31.875rem;
  /* gap: 0.75rem; */
}

.l-chart__description {
  display: flex;
  align-items: center;
}
