.l-chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.l-chart i {
  display: block;
  font-size: 40px;
  width: 80px;
  height: 80px;
  align-items: center;
  font-weight: 900;
  padding: 1.25rem;
  background-color: #fcfcfc;
  color: var(--color-primary-400);
  border: 0.0625rem solid var(--color-light-200);
  border-radius: 50%;
}

.l-chart img {
  width: 540px;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-large);
  margin-left: 1rem;
}

.l-chart__description p {
  font-size: 1.125rem;
  color: var(--color-gray-200);
  line-height: 1.75rem;
}

.l-chart__info {
  display: flex;
  flex-direction: column;
  width: 510px;
}

.l-chart__description {
  display: flex;
  align-items: center;
}
.l-chart__description__text {
  margin: 0.5rem;
  flex: 1;
}
