.l-solutions__title {
  font-size: 1.75rem;
  font-weight: 600;
}

.l-solutions__cards .l-solutions__cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-solutions__cards__card img {
  margin-bottom: 1.5rem;
  width: 13.125rem;
}

.l-solutions__cards__card h3 {
  color: var(--color-dark);
}

.l-solutions__cards__card p {
  font-size: 1.125rem;
  color: var(--color-gray-200);
  text-align: center;
  padding: 0.625rem;
  margin-bottom: 1.5625rem;
  line-height: 1.75rem;
}
