:root {
  --color-primary-100: #3498db;
  --color-primary-200: #1e90ff;
  --color-primary-300: #1089d4;
  --color-primary-400: #017df7;
  --color-primary-500: #1e5799;
  --color-primary-600: #3b64d2;
  --color-primary-900: #071e55;
  --color-green: #79a70a;
  --color-gray-100: #acacac;
  --color-gray-200: #7c8595;
  --color-gray-300: #6a6a6a;
  --color-gray-400: #454545;
  --color-gray-500: #405263;
  --color-dark: #292929;
  --color-light-100: #ffffff;
  --color-light-200: #efefef;
  --color-light-300: #e0e0e0;
  --color-twitter: #4099ff;
  --color-pinterest: #c92228;
  --color-linkedin: #3b5998;
  --color-dribbble: #ea4c89;
  --bg-light: #fafbfc;
  --box-shadow-small: 0 0.5rem 0.25rem 0 rgba(0, 0, 0, 0.37);
  --box-shadow-large: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.37);
  --box-shadow-hover: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.5);
  --container: clamp(15rem, 90vw, 71.25rem);
  --text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.25);
  --border-line: 0.0625rem solid var(--color-light-200);
  --font-family-dosis: "Dosis", sans-serif;
  --font-family-open-sans: "Open Sans", sans-serif;
  --default-gap: 1.875rem;
  scroll-behavior: smooth;
}
