@import "./comment.css";
@import "./dashboard.css";

.l-features p {
  font-size: 1.125rem;
}

.l-features__cards {
  display: flex;
  flex-direction: row;
}

.l-features__cards .l-features__cards__card {
  text-align: center;
  flex-basis: 20rem;
}

.l-features__cards__card {
  margin: 0rem 0.5rem;
}

.l-features__cards__card i {
  font-size: 3rem;
  color: var(--color-primary-200);
}

.l-features__cards__card p {
  font-size: 1rem;
  color: var(--color-gray-200);
  line-height: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1rem;
}
